.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 24px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 50%;
  transition: opacity 0.9s linear 0.1s;
}
